body {
  margin: 0;
}

table {
  width: 100%;
  height: 70vh;
  background-color: blue;
  color: white;
}

td {
  width: 25%;
  text-align: center;
  font-size: 30px;
  background-color: rgb(4, 4, 22);
}

td:hover {
  background-color: rgb(39, 37, 37);
  cursor: pointer;
}

.display {
  height: 30vh;
  background-color: rgb(1, 1, 6);
  color: white;
  display: flex;
  justify-content: end;
  align-items: end;
  font-size: 64px;
  padding: 10px;
  box-sizing: border-box;
}
